<h3> Wish List</h3>

<% @wished_items.each do |wi| %>
    <div class="wishlist_block">
        <div class="item">
          <div>
            <a href="/destroy_wishes?product=<%=wi.id %>"  rel="nofollow">
              <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
            </a>
          </div>
          <div class="blocked order-title"><%= wi.name%></div>
          <div class="blocked order-image"><%= link_to (image_tag wi.avatar.url(:medium)), product_path(wi.id) %></div>
          <div class="blocked order-footer"><%= wi.description%></div>
        </div>
    </div>
<% end %>








<%# @wished_items.each do |wi| %>
    <%#= image_tag(wi.avatar(:thumb)) %><br />
<%# end %>