.item{
  float:left;
  margin: 10px;
  width:80px;
  height: 100px;
  .blocked{ display:block; text-align:center}
  .order-title{font-size: 15px;}
  .order-image{
    height: auto;
    img {max-width: 150px; max-height: 150px;}
  }
  .order-footer{font-size:8px;}
}

#splash{
  width:100%;
  height:100%;
  text-align:center;
  .inner{ width:195px; margin:250px auto;}
  label{color: #fff;}
  input{margin: 10px auto;}
}

body#splash_body{
  background-image: image-url('splash.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}